# Local backend defaults
NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://panhavit146_db_user:VmR86q2pUFYcVLs1@cluster2.rcrkkue.mongodb.net/?appName=Cluster2

CLIENT_URL=http://localhost:3000

